@charset "UTF-8";

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

#cover {
  color: hsl(0, 100%, 100%);
  background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.8) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(0,0,0,0)), color-stop(100%, rgba(0,0,0,0.8))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.8) 100%); /* Chrome10+, Safari5.1+ */
  background: -o-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.8) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.8) 100%); /* IE10+ */
  background: linear-gradient(to bottom, rgba(0,0,0,0) 0%, rgba(0,0,0,0.8) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#cc000000', GradientType=0); /* IE6-9 */
}

.hero-image {
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: center;
}

/* Material Design Overrides */
md-sidenav,
md-sidenav.md-locked-open-add-active,
md-sidenav.md-closed.md-locked-open-add-active,
md-sidenav.md-locked-open {
  width: 200px;
  min-width: 200px;
  max-width: 200px;
}

.login-button {
  position: absolute;
  margin: auto;
  top: 0;
  right: 500px;
  bottom: 0;
  left: 0;
  width: 100px;
  height: 100px;
}

.socialIcon {
  color: #fff;
  margin: 12px 10px 8px 10px;
}

.png-icon {
  background-repeat: no-repeat no-repeat;
  display: inline-block;
  vertical-align: top;
  height: 20px;
  width: 20px;
  font-size: 1.33333333em;
  line-height: .75em;
  margin: 2px 9px 9px 9px;
}

.invert {
  -webkit-filter: invert(100%);
}

body {
  padding: 0;
}

.content-desc a:link,
.content-desc a:hover,
.content-desc a:visited,
.content-desc a:focus,
.content-desc a:active {
  color: #2196F3;
  text-decoration: none;

  /* These are technically the same, but use both */
  overflow-wrap: break-word;
  word-wrap: break-word;

  -ms-word-break: break-all;
  word-break: break-word;

  /* Adds a hyphen where the word breaks, if supported (No Blink) */
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}

.organizer-grid {
  padding: 25px 50px;
  float: left;
}

/* Responsive: Landscape tablets */
@media (min-width: 768px) and (max-width: 1024px) {
  .organizer-grid {
    padding: 25px 100px;
  }
}

/* Responsive: Portrait tablets */
@media (min-width: 640px) and (max-width: 768px) {
  .organizer-grid {
    padding: 25px 70px;
    float: left;
  }
}

/* Responsive: Portrait phone */
@media screen and (max-width: 640px) {
  .organizer-grid {
    padding: 25px 50px;
  }
}
