<section ng-hide-auth ng-cloak>
  <div class="login-button">
    <md-button ng-click="admin.login()">
      <md-icon class="material-icons">account_circle</md-icon>
      <span>Sign in with Google</span>
    </md-button>
  </div>
</section>

<selection ng-show-auth ng-cloak>
  <md-tabs md-dynamic-height md-border-bottom>
    <!-- Cover Jumbotron -->
    <md-tab label="Cover">
      <md-content class="md-hue-2 md-padding" layout="row">
        <div flex>
          <md-card>
            <md-toolbar flex>
              <h2 class="md-toolbar-tools">Cover Banner</h2>
            </md-toolbar>
            <md-card-content>
              <form name="coverForm" layout="column">
                <md-input-container>
                  <md-checkbox ng-model="admin.cover.disabled" aria-label="Disable Cover Banner?">
                    Disable Cover Banner?
                  </md-checkbox>
                </md-input-container>
                <md-input-container>
                  <label>Title</label>
                  <input name="coverTitle" ng-model="admin.cover.title" ng-disabled="admin.cover.disabled" required/>
                  <div ng-messages="coverForm.coverTitle.$error">
                    <div ng-message="required">Title is required.</div>
                  </div>
                </md-input-container>
                <md-input-container>
                  <label>Subtitle</label>
                  <input name="subtitle"ng-model="admin.cover.subtitle" ng-disabled="admin.cover.disabled" required/>
                  <div ng-messages="coverForm.subtitle.$error">
                    <div ng-message="required">Subtitle is required.</div>
                  </div>
                </md-input-container>
                <md-input-container>
                  <label>Action Button Text</label>
                  <input name="actionButton" ng-model="admin.cover.actionButton" ng-disabled="admin.cover.disabled" required/>
                  <div ng-messages="coverForm.actionButton.$error">
                    <div ng-message="required">Action Button Text is required.</div>
                  </div>
                </md-input-container>
                <md-input-container>
                  <label>Action Button URL</label>
                  <input name="actionURL" ng-model="admin.cover.actionURL" ng-disabled="admin.cover.disabled" required/>
                  <div ng-messages="coverForm.actionURL.$error">
                    <div ng-message="required">Action Button URL is required.</div>
                  </div>
                </md-input-container>
                <md-input-container class="md-block">
                  <input type="file" id="coverImage" ng-model="admin.cover.image" accept="image/x-png" image="admin.cover.coverImage" resize-max-height="1000" resize-max-width="1000" resize-quality="0.7" resize-type="image/png" ng-disabled="admin.cover.disabled" aria-label="Select a File" />
                  <md-icon class="material-icons">add_a_photo</md-icon>
                  <img ng-src="{{ admin.cover.coverImage.compressed.dataURL }}" style="padding-top: 10px;width: 40%;height: auto;" />
                  <div ng-show="admin.imageLoading">
                    <md-progress-circular md-mode="indeterminate"></md-progress-circular>
                  </div>
                </md-input-container>
                <div ng-show="admin.cover.image">
                  Current Hero:<br/>
                  <img ng-src="{{ admin.cover.image }}" style="width: 40%;height: auto;" />
                </div>
                <md-input-container>
                  <md-checkbox ng-model="admin.cover.clearImage" aria-label="Clear Image?" ng-disabled="admin.cover.disabled">
                    Clear Current Image?
                  </md-checkbox>
                </md-input-container>
              </form>
            </md-card-content>
            <md-card-actions layout="row" layout-align="end center">
              <md-button ng-click="admin.saveCover()">Save</md-button>
            </md-card-actions>
          </md-card>
        </div>
      </md-content>
    </md-tab>
    <!-- Social Settings -->
    <md-tab label="Social">
      <md-content class="md-hue-2 md-padding" layout="row">
        <div flex>
          <md-card>
            <md-toolbar flex>
              <h2 class="md-toolbar-tools">Social Handles</h2>
            </md-toolbar>
            <md-card-content>
              <form layout="column">
                <md-input-container>
                  <label>YouTube</label>
                  <input ng-model="admin.social.youtube"/>
                </md-input-container>
                <md-input-container>
                  <label>Twitter</label>
                  <input ng-model="admin.social.twitter"/>
                </md-input-container>
                <md-input-container>
                  <label>Facebook</label>
                  <input ng-model="admin.social.facebook"/>
                </md-input-container>
                <md-input-container>
                  <label>GitHub</label>
                  <input ng-model="admin.social.github"/>
                </md-input-container>
                <md-input-container>
                  <label>Meetup</label>
                  <input ng-model="admin.social.meetup"/>
                </md-input-container>
                <md-input-container>
                  <label>Slack</label>
                  <input ng-model="admin.social.slack"/>
                </md-input-container>
              </form>
            </md-card-content>
            <md-card-actions layout="row" layout-align="end center">
              <md-button ng-click="admin.saveSocial()">Save</md-button>
            </md-card-actions>
          </md-card>
        </div>
      </md-content>
    </md-tab>
    <!-- Main Config -->
    <md-tab label="Config">
      <md-content class="md-hue-2 md-padding" layout="row">
        <div flex>
          <md-card>
            <md-toolbar flex>
              <h2 class="md-toolbar-tools">Config</h2>
            </md-toolbar>
            <md-card-content>
              <form name="configForm" layout="column">
                <md-input-container>
                  <label>Chapter Name</label>
                  <input name="chapterName" ng-model="admin.config.chapterName" required/>
                  <div ng-messages="configForm.chapterName.$error">
                    <div ng-message="required">Chapter Name is required.</div>
                  </div>
                </md-input-container>
                <md-input-container>
                  <label>Chapter Website</label>
                  <input ng-model="admin.config.chapterWebsite"/>
                </md-input-container>
                <md-input-container>
                  <label>Chapter Email</label>
                  <input ng-model="admin.config.chapterEmail"/>
                </md-input-container>
                <md-input-container>
                  <label>Google+ Chapter ID</label>
                  <input name="googleID" ng-model="admin.config.googleID" required/>
                  <div ng-messages="configForm.googleID.$error">
                    <div ng-message="required">Google+ Chapter ID is required.</div>
                  </div>
                </md-input-container>
                <md-input-container>
                  <label>Google API Key</label>
                  <input name="googleKey" ng-model="admin.config.googleKey" required/>
                  <div ng-messages="configForm.googleKey.$error">
                    <div ng-message="required">Google API Key is required.</div>
                  </div>
                </md-input-container>
                <md-input-container>
                  <label>Meetup.com API Key</label>
                  <input name="meetupKey" ng-model="admin.config.meetupKey" required/>
                  <div ng-messages="configForm.meetupKey.$error">
                    <div ng-message="required">Meetup.com API Key is required.</div>
                  </div>
                </md-input-container>
              </form>
            </md-card-content>
            <md-card-actions layout="row" layout-align="end center">
              <md-button ng-click="admin.saveConfig()">Save</md-button>
            </md-card-actions>
          </md-card>
        </div>
      </md-content>
    </md-tab>
    <!-- Website Admins -->
    <md-tab label="Admins">
      <md-content class="md-hue-2 md-padding" layout="row">
        <div flex>
          <md-card>
            <md-toolbar flex>
              <h2 class="md-toolbar-tools">Allowed Admins</h2>
              <md-button class="md-fab md-fab-top-right" aria-label="Add Admin" ng-click="admin.addAdmin($event)">
                <md-tooltip md-direction="left">
                  Add Admin
                </md-tooltip>
                <md-icon class="material-icons">add</md-icon>
              </md-button>
            </md-toolbar>
            <md-card-content>
              <md-list ng-if="admin.admins.length">
                <md-list-item ng-repeat="email in admin.admins">
                  <p>{{ email.$value }}</p>
                  <md-button class="" ng-click="admin.removeAdmin($event, email)">
                    <md-icon class="material-icons">delete</md-icon>
                  </md-button>
                </md-list-item>
              </md-list>
              <h4 ng-if="!admin.admins.length">Please add at least one admin.</h4>
            </md-card-content>
          </md-card>
        </div>
      </md-content>
    </md-tab>
  </md-tabs>
</selection>