<md-card>
  <md-toolbar flex>
    <h2 class="md-toolbar-tools">Upcoming</h2>
  </md-toolbar>
  <md-card-content class="md-padding" layout="row">
    <div ng-show="vm.loading">
      <md-progress-circular md-mode="indeterminate"></md-progress-circular>
    </div>
    <div flex layout="column">
      <md-list ng-show="vm.events.future.length">
        <md-list-item ng-repeat="event in vm.events.future" ng-click="vm.viewEvent(event, $event)" class="md-3-line" md-whiteframe="1" layout-padding>
          <img src="https://developers.google.com/_static/images/gdg-icon.png" alt="GDG Boomerang" class="md-avatar" />
          <div class="md-list-item-text">
            <h3>{{ event.title }}</h3>
            <p>{{ event.start | date:'EEEE, MMMM d, y - h:mm a' }}</p>
            <p>
              <span class="content-desc" ng-repeat="tag in event.tags">
                <span ng-if="!first">&nbsp;</span>#{{ tag }}&nbsp;
              </span>
            </p>
          </div>
        </md-list-item>
      </md-list>
      <h4 ng-if="vm.upcomingError" ng-bind-html="vm.upcomingError" style="margin: 8px"></h4>
    </div>
  </md-card-content>
</md-card>

<md-card>
  <md-toolbar flex>
    <h2 class="md-toolbar-tools">Recent Meetups</h2>
  </md-toolbar>
  <md-card-content class="md-padding" layout="row">
    <div ng-show="vm.loading">
      <md-progress-circular md-mode="indeterminate"></md-progress-circular>
    </div>
    <div flex layout="column">
      <md-list ng-show="vm.events.past.length">
        <md-list-item ng-repeat="event in vm.events.past" ng-click="vm.viewEvent(event, $event)" class="md-3-line" md-whiteframe="1" layout-padding>
          <img src="https://developers.google.com/_static/images/gdg-icon.png" alt="GDG Boomerang" class="md-avatar" />
          <div class="md-list-item-text">
            <h3>{{ event.title }}</h3>
            <p>{{ event.start | date:'EEEE, MMMM d, y - h:mm a' }}</p>
            <p>
              <span class="content-desc" ng-repeat="tag in event.tags">
                <span ng-if="!first">&nbsp;</span>#{{ tag }}&nbsp;
              </span>
            </p>
          </div>
        </md-list-item>
      </md-list>
      <h4 ng-if="vm.upcomingError" ng-bind-html="vm.pastError" style="margin: 8px"></h4>
    </div>
  </md-card-content>
</md-card>