<md-dialog aria-label="{{ event.title }}" flex-xs="100">
  <md-toolbar>
    <div class="md-toolbar-tools">
      <div>
        <h3>{{ event.title }}</h3>
        <small hide-xs>{{ event.start | date:'EEEE, MMMM d, y - h:mm a' }}</small>
      </div>
      <span flex></span>
      <md-button class="md-icon-button" ng-click="closeDialog()">
        <md-icon aria-label="Close Dialog" class="material-icons">close</md-icon>
      </md-button>
    </div>
  </md-toolbar>
  <md-dialog-content layout-padding>
    <div class="content-desc" ng-bind-html="event.about | htmlLinky | hashLinky"></div>
    <div layout="row" layout-padding layout-wrap>
      <span class="content-desc" ng-repeat="tag in event.tags">
        <span ng-if="!first">&nbsp;</span><a ng-href="https://plus.google.com/s/%23{{ tag }}" target="_blank">#{{ tag }}</a>&nbsp;
      </span>
    </div>
  </md-dialog-content>
  <md-dialog-actions>
    <md-button ng-if="event.locationUrl" class="dialog-class" ng-click="navigateTo(event.locationUrl)" aria-label="Get Directions">
      Get Directions
    </md-button>
    <md-button ng-if="event.eventUrl" class="dialog-class" ng-click="navigateTo(event.eventUrl)" aria-label="View Event">
      View Event
    </md-button>
  </md-dialog-actions>
</md-dialog>